* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f5f8ff;
  color: #29294a;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.education-container {
  width: 95%;
  max-width: 900px;
}

h2 {
  text-align: center;
}

h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 0.8rem;
  line-height: 1.5;
}

.splide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  min-height: 250px;
}

.splide__list {
  display: flex;
  gap: 0.5rem;
}

.splide__slide {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.container {
  display: flex;

  background: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 1rem 1rem -0.5rem #292949;
  gap: 1rem;
  height: 100%;
}

.icon-tabler {
  height: 80px;
  min-width: 80px;
  background: #f5f8ff;
  padding: 1rem;
  border-radius: 0.5rem;
}
button {
  border: none;
  background: transparent;
}

.icon-tabler-chevron-left,
.icon-tabler-chevron-right {
  border-radius: 50%;
  color: #857fb5;
  min-width: 45px;
  height: 45px;
  padding: 0.5rem;
  border: 1.5px solid #857fb5;
}

.splide__arrow--prev svg {
  transform: scaleX(1);
}

.splide__pagination__page {
  width: 0.8rem;
  height: 0.8rem;
  background: #857fb5;
}

.splide__pagination__page.is-active {
  height: 0.7rem;
  width: 0.7rem;
  border: 1.5px solid #857fb5;
}

@media (max-width: 750px) {
  .splide {
    gap: 0.1rem;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    text-align: center;
  }

  p {
    font-size: 0.65rem;
  }

  .icon-tabler-chevron-left, .icon-tabler-chevron-right {
    padding: 0.25rem;
    min-width: 35px;
    height: 35px;
  }
}
}
